

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Work+Sans:wght@500&display=swap');


*{
	box-sizing: border-box;
	font-family: 'Tilt Warp', cursive;
	font-family: 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	
	height: 100%;		
	padding: 0;
	margin: 0;
    background-color: #191e29;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {

	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 1%;
	height: 100px;
	background-color: transparent;
}
nav .logo {

	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
    padding: 0;
    margin: 0px 7rem;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/* 2 */

.p1 {
	font-size: 1.4vw;
    padding-top: 15vh;
    font-weight: bold;
    width: max-content;
}
  .p2 {
    font-size: 2.4vw;
    font-weight: bold;
    display: inline-block;
    width: max-content;
    box-sizing: border-box;
  }
  .p3 {
	font-size: 1.5vw;
    padding-top: 1vh;
    color: #01c38d;
    font-weight: bold;
  }
  
  .button .button {
	text-decoration: none;
    background-color: #01c38d;
    padding: 1.5vh 10vh;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6vh;
    border: #01c38d;
    font-size: 2vh;
  }
  .button {
    padding-top: 2vh;
  }
  .button .button:hover{
	background-color: #157056;
  }
  

  
  .landing-text {
    padding-top: 5vh;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  .login-page {
	padding-top:200px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: auto auto;

  } 
  /* Form Sign Up */
  .form-signup{
	
	padding: 10vh 10vh;
	background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);

  }

  .main-sign-login {
	z-index: 1;
	margin:0 0 ;
	width: 350px;
	height: 500px;
	overflow: hidden;
	left: 0;
    right: 0;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 5vh;
	
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #01c38d;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 10vh;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #01c38d;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 20px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #157056;
}
.login{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

	height: 460px;

	border-radius: 5vh;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	padding-top: 0.5vw;
	color: #3d4558;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}



/* Login 2 css */
.login2-body {
	padding-top:200px;
	display: flex;
	flex-wrap: wrap;

	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: auto auto;

}
#login-img{
	width: 70%;
}

#home-img{
	width: 25vw;
}
.contain{
	padding-top:120px;
	display: flex;
	flex-flow: row wrap;
	align-items: self-start;
	justify-content: space-around;
	margin-right: 320px;
    margin-left: 320px;
}




#sidebar {
	z-index: 3;
    position: absolute;
    top:0;
    bottom:0;
    height: 100%;
    left:0;
    background-color: #191e29;
    width: 80px;
    overflow: hidden;
    transition: width 0.3s linear ;
	padding:0;
	margin:0;
	box-shadow: 1px 1px 43px 3px #18191c;
}
.sidebar-logo {

    margin: 10px;
    transition: all 0.5s ease;
}


#sidebar img {
    background-color: transparent;
    width: 40px;
    height: 40px;
	margin-top: 10px;
    margin-left: 10px;
   
  
}

.sidebar-logo span {
    padding:15px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
#sidebar a {
    text-decoration: none;
    position: relative;
    color:rgb(255, 255, 255);
    font-size: 16px;
    display: table;
    width: 300px;
    padding: 10px;
	margin:0px;

}   
.fas {
    position:relative;
    width: 60px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;

}

.nav-item {
    position: relative;
    top:12px;
    margin-left: 10px;
}

#sidebar:hover {
    width: 250px;
    transition: all 0.5s ease;
}


.logout {
    position: absolute;
    bottom:0;
    
}

#depo {
	background-color: #01c38d;
	border: 2px solid #044936;
	border-radius: 	10px;
}
.pfp-icon {
	height: 40px;
	width: 40px;
	border-radius: 80%;

}
.main-dash-body{
	
	width: calc(100%-40px);
	height: 900px;
	margin-left:80px;
	padding-top: 100px;
	box-sizing: border-box;
}
.dash-text {
	font-size: 40px;
	margin-left: 50px;
	color:#fcfffe;
	text-transform: calc(1.4);
}

.flex-prop {
	margin: 10px;
	padding: 10px;
	position: relative;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	
}
.box-port{
	margin: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	flex:1;
	min-width: 400px;
	height: 300px;
	
	background: linear-gradient(to right, #01C38D, #2ecf606b);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.box-port:hover {
	border:2px solid #01c38d;
	transform: scale(1.03);
	transition-duration: 0.5s;
}

.land-box{
	
	margin: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	flex:2;
	height: 300px;
	min-width: 600px;
	margin-left: 20px;
	margin-right: 20px;

	border-radius: 10px;
}

.bal {
	font-size: 30	px	;
    margin-top: 25px;
    margin-left: 1.5vw;
    position: absolute;
    color: #ffffff;
	font-weight: bold;
}
.port_val {
	position: absolute;
	font-size: 30px	;
    margin-top: 80px;
    margin-left: 1.5vw;
    position: absolute;
    color: #ffffff;
	
}
.port_val_btc {
	font-size: 60px	;
    margin-top: 120px;
    margin-left: 1.5vw;
    position: absolute;
    color: #ffffff;
	font-weight: bold;
	
}
.box-port img {
	position: absolute;
    right: 0;
    width: 50%;
	padding: 20px;
}

.stats-box{
	margin: 10px;
	padding-top: 40px;
	border-radius: 5px;
	box-sizing: border-box;
	flex:1;
	min-width: 400px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #202632;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.stats-box:hover {
	border:2px solid #01c38d;
	transform: scale(1.03);
	transition-duration: 0.5s;
}
.stat-pfp{
	position: relative;
	padding-left: 25px;
	padding-top: 25px;
	width: 100px;
	height: 100px;
}
.stat-head {
	position: absolute;
	color:white;
	font-size: 25px;
    margin-left: 20px;
    margin-top: 50px;
}

.stat-head-price{
	color: white;
    font-size: 45px;
    padding-top: 80px;
    position: absolute;
}

.stat-head-growth{
	
    font-size: 35px;
    padding-top: 140px;
    position: absolute;
    color: #cf9a04;

}

#sidebar a:hover {
	transform: scale(1.05);
	color: #01c38d;
	transition-duration: 0.3s;
}


nav .links a:hover {
    transform: scale(1.05);
	transition-duration: 0.4s;
}

.box-transactions{
	
	margin: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	flex:2;
	height: 300px;
	min-width: 600px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #202632;
	border-radius: 10px;
}

.head-recent-trans{
	color: white;
    padding-top: 20px;
    position: absolute;
    padding-left: 30px;
    font-size: 30px;
	background-color: #202632;

	display: block;
	
}


/* Hide the default scrollbar */
.list-recent::-webkit-scrollbar {
	width: 100%;
	background-color: #171818;
  }
  
  .list-recent::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	border-radius: 10px;
	
  }
  
  
  
  /* Style the container */
  .list-recent {
	height: 100%;
	overflow-y: scroll;
	
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: #C1C1C1 #F5F5F5; /* Firefox */
	padding-top: 60px; /* Add padding from top */
	 /* Hide content above padding */
  }
  
  /* Style the list items */
  .list-recent-item {
	padding: 10px;
	
	color: white;
	font-size: 25px;
	overflow: hidden;
	padding-left: 30px;
  }




  .flex-prop-row {
	margin: 10px;
	padding: 10px;
	position: relative;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 150px;
	
}


  .buy-page-text {
	color:white;
	font-size: 65px;
	font-weight: bold;
  }
  .main-buy-msg {
	
	width: 600px;
	border-radius: 25px;
	flex: 1;
	text-align: center;
  }
  .buy-form	{

	width: 100%;
	border-radius: 25px;
	flex: 2;
	text-align: center;
  }


  .typing-demo {
	width: 9ch;
	animation: typing 2s steps(18), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;

	font-size: 2em;
	color: #01c38d;
	font-size: 80px;
  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }



.buy-tether{
	height: 120px;
	width: 120px;
}


.tether-image {
	animation-name: moveUpDown;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
  }
  
  @keyframes moveUpDown {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-25px);
	}
	100% {
	  transform: translateY(0);
	}
  }


  .new-form{
	background-color: #ffffff;
	width: 20%;
	height: 40px;
	border-radius: 6px;
	
  }
  .text-buy {
	font-size: 20px;
  }


@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top:0;
		bottom: 100%;
		width: auto;
		height: auto;
		margin: 20vh 2vh;
		flex-direction: column;
		justify-content: space-evenly;
		border-radius: 6vh;
    	background: linear-gradient(137deg, rgb(91 89 110) 0%, rgba(1,195,141,1) 35%, rgba(0,212,255,1) 100%);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 3vh;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
		top: -1.5vh;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
	.p1 {
		font-size: 5.2vw;
    padding-left: 10vw;
    padding-top: 15vh;
    font-weight: bold;
    width: max-content;
	}
	  .p2 {
		font-size: 5.5vw;
		padding-left: 10vw;
		font-weight: bold;
		display: inline-block;
		width: max-content;
		box-sizing: border-box;
	  }
	  .p3 {
		font-size: 4.5vw;
    padding-top: 1vh;
    padding-left: 10vw;
    color: #01c38d;
    font-weight: bold;
	  }
	  
	  .button .button {
		background-color: #01c38d;
		padding: 1.6vh 8vh;
		color: #ffffff;
		font-weight: bold;
		border-radius: 6vh;
		border: #01c38d;
		font-size: 2vh;
	  }
	  .button {
		padding-left: 10vw;
		padding-top: 2vh;
	  }
	  
	
	  
	  .landing-text {
		color:white;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	  }
	




	  .box-port img {
		position: absolute;
		right: 0;
		width: 45vw;
		padding: 20px;
	}

}