{% extends "dashboard.html" %}



{% block content%}
<div class="main-body-buy">
    <div class="flex-prop-row">
        <div class="main-buy-msg">
            <span class="buy-page-text">
                Buy To Trade.
            </span>
            <img class="buy-tether tether-image"  src="../static/tether.svg" alt="tether" >
        </div>

        <div class="payment-card">
            <img class="main-buy-img" src="../static/buy.svg" alt="">
            <br>
            <span class="buy-title">
                Tether Amount
            </span>
            <div class="input-buy">
                <input type="text" id="usdt-amount" placeholder="$1000" oninput="displayValueBuy()">
            </div>
            <div class="input-buy">
                <span class="payment-title">Payment Details</span>
                <input type="text" id="card-name" placeholder="Name on Card">
                
            </div>
            <div class="input-buy">
                <input type="text" id="card-num" placeholder="Card Number">
                <input type="text" id="card-exp" placeholder="Expiry">
                <input type="text" id="card-cvv" placeholder="CVV">
                
            </div>

            <div class="buy-button">
                 <button id="display-button">Purchase</button>
            </div>

            

        </div>

    </div>
   
</div>
{% endblock %}
