<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/77dca63751.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>CoinFusion</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>





    <nav>
        <input id="nav-toggle" type="checkbox">
       
        <ul class="links">
            <li id="depo"><a href="/markets.html">Deposit/Withdrawal</a></li>    
           <li><img class="pfp-icon" name="pfp-icon" src="../static/profile-icon.jpg" alt=""></li>                                         

    
        
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    



<nav id="sidebar">
    <ul>
        <li>
            <a class="sidebar-logo" href="/">
            <img src="../static/c.png" alt="logo">
           
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-solid fa-house"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fas fa-solid fa-vault"></i>
                <span class="nav-item">Portfolio</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fas fa-solid fa-wallet" ></i>
                <span class="nav-item">Wallet</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-regular fa-user"></i>
                <span class="nav-item">Transactions</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-solid fa-gear"></i>
                <span class="nav-item">User Profile</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fas fa-solid fa-right-from-bracket"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
        
    </ul>
</nav>

<div class="main-dash-body">

    <span class="dash-text">Dashboard</span>


    <div class="flex-prop">
        <div class="box">
            <div class="port-val">
                
            </div>
        </div>
        
        <div class="box-1">
            <div class="market-stat">
                
            </div>
        </div>
    </div>


</div>








   

</body>
</html>






