<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/77dca63751.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="../static/script.js" ></script>
    <title>CoinFusion</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    





</head>
<body>

    <nav>
        <input id="nav-toggle" type="checkbox">
       
        <ul class="links">
            <li id="depo"><a href="/markets.html">Deposit/Withdrawal</a></li>    
           <li><img class="pfp-icon" name="pfp-icon" src="../static/profile-icon.jpg" alt=""></li>                                         

    
        
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    

<nav id="sidebar">
    <ul>
        <li>
            <a class="sidebar-logo" href="/">
            <img src="../static/c.png" alt="logo">
           
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-solid fa-house"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fas fa-solid fa-vault"></i>
                <span class="nav-item">Portfolio</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <i class="fas fa-solid fa-wallet" ></i>
                <span class="nav-item">Wallet</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-regular fa-user"></i>
                <span class="nav-item">Transactions</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fas fa-solid fa-gear"></i>
                <span class="nav-item">User Profile</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fas fa-solid fa-right-from-bracket"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
        
    </ul>
</nav>

<div class="main-dash-body">

    <span class="dash-text">Dashboard</span>


    <div class="flex-prop">
        <div class="box-port">
            <div class="port">
                <span class="bal">
                    Portfolio
                </span>
            
                <span class="port_val" >
                    $ {{port_val}}
                </span>
                <span class="port_val_btc" >
                    ₿ {{port_val_btc}}
                </span>
                <img src="../static/port-bg.svg"   alt="">
            </div>
        </div>
        
        <div class="box-1">
           
        </div>
    </div>


    <div class="flex-prop mark-stats">
        
        <div class="btc-stat stats-box">
            <img src="../static/btc.png" class="stat-pfp" alt="">
            <span class="stat-head">Bitcoin</span>
            <span id="btc-price" class="stat-head-price">$XXXXX</span>
            <span id="btc-growth-rate" class="stat-head-growth">X%</span>
        </div>

        <div class="eth-stat stats-box">
            <img src="../static/eth.png" class="stat-pfp" alt="">
            <span class="stat-head">Ethereum</span>
            <span id="eth-price" class="stat-head-price">$XXXXX</span>
         

            <span id="eth-growth-rate" class="stat-head-growth" style="color:#627EEA;">X%</span>
           
        </div>

        <div class="ltc-stat stats-box">
            <img src="../static/ltc.png" class="stat-pfp" alt="">
            <span class="stat-head">Litecoin</span>
            <span id="ltc-price" class="stat-head-price">$XXXXX</span>
            <span id="ltc-growth-rate" class="stat-head-growth" style="color:#636f86;">X%</span>
        </div>
    </div>

    
</div>






   

</body>
</html>






