<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.2/tinycolor.min.js"></script>


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/77dca63751.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="../static/script.js" ></script>
    <title>CoinFusion</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/c.png">
 



</head>
<body >

    <nav>
        <input id="nav-toggle" type="checkbox">
       
        <ul class="links">
            <li id="nftpfp"><a style="padding:0;" href="/nft"><img class="nft-btn-icon" name="nft-btn-icon" src="../static/nft-main.png" alt="bayc-icon" /></a><a href="/nft">NFT Marketplace</a></li>    
            <li id="depo"><a href="/deposit-withdrawal">Deposit/Withdrawal</a></li>    
            <li><img class="pfp-icon" name="pfp-icon" src="../static/profile-icon.jpg" alt=""></li>
            
                                                     

    
        
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    

<nav id="sidebar">
    <ul>
        <li>
            <a class="sidebar-logo" href="/">
            <img src="../static/c.png" alt="logo">
           
            </a>
        </li>

        <li>
            <a href="/home">
                <i class="fas fa-solid fa-house"></i>
                <span class="nav-item">Home</span>
            </a>
        </li>

        <li>
            <a href="/nft">
                <i class="fas fa-thin fa-masks-theater"></i>
                <span class="nav-item">NFTS</span>
            </a>
        </li>

        <li>
            <a href="/dashboard">
                <i class="fas fa-solid fa-gauge-high"></i>
                <span class="nav-item">Dashboard </span>
            </a>
        </li>
        

        <li>
            <a href="/buy">
                <i class="fas fa-solid fa-credit-card"></i>
                <span class="nav-item">Buy </span>
            </a>
        </li>

        <li>
            <a href="/markets">
                <i class="fas fa-solid fa-chart-simple"></i>
                <span class="nav-item">Market</span>
            </a>
        </li>



        <li>
            <a href="/portfolio">
                <i class="fas fa-solid fa-vault"></i>
                <span class="nav-item">Portfolio</span>
            </a>
        </li>
        
        

        <li>
            <a href="/settings">
                <i class="fas fa-solid fa-gear"></i>
                <span class="nav-item">User Profile</span>
            </a>
        </li>

        <li class="logout">
            <a href="#">
                <i class="fas fa-solid fa-right-from-bracket"></i>
                <span class="nav-item">Logout</span>
            </a>
        </li>
        
    </ul>
</nav>
{% block content %}

   
<div class="main-dash-body">

    <span class="dash-text">Dashboard</span>


    <div class="flex-prop">
        <div class="box-port">
            <div class="port">
                <span class="bal">
                    Portfolio
                </span>
            
                <span class="port_val" >
                    $ {{port_val}}
                </span>
                <span class="port_val_btc" >
                    ₿ {{port_val_btc}}
                </span>
                <img src="../static/port-bg.svg"   alt="">
            </div>
        </div>
        
        <div class="box-transactions">
            <span class="head-recent-trans">
                Recent Transactions
            </span>

            <div class="list-recent">
                <ul>
                  {% for item in items %}
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  <li class="list-recent-item">Hello{{ item }}</li>
                  {% endfor %}
                  <li class="list-recent-item">BTC 20</li>
                  <li class="list-recent-item">ETH 2</li>
                  <li class="list-recent-item">Bored Ape #3289</li>
                  <li class="list-recent-item">ADA 2000000</li>
                
            </div>
        </div>    
</div>



<div class="flex-prop mark-stats">
        
        <div class="btc-stat stats-box">
            <img src="../static/btc.png" class="stat-pfp" alt="">
            <span class="stat-head">Bitcoin</span>
            <span id="btc-price" class="stat-head-price">$XXXXX</span>
            <span id="btc-growth-rate" class="stat-head-growth">X%</span>
        </div>

        <div class="eth-stat stats-box">
            <img src="../static/eth.png" class="stat-pfp" alt="">
            <span class="stat-head">Ethereum</span>
            <span id="eth-price" class="stat-head-price">$XXXXX</span>
         

            <span id="eth-growth-rate" class="stat-head-growth" style="color:#627EEA;">X%</span>
           
        </div>

        <div class="ltc-stat stats-box">
            <img src="../static/ltc.png" class="stat-pfp" alt="">
            <span class="stat-head">Litecoin</span>
            <span id="ltc-price" class="stat-head-price">$XXXXX</span>
            <span id="ltc-growth-rate" class="stat-head-growth" style="color:#636f86;">X%</span>
        </div>
    </div>

    {% endblock %}

</body>
</html>






