{% extends "master.html" %}

{% block content%}

<main>

   
    <div class="contain">
        <div class="land-box">
            <div class="typing-demo">
                Trade Now.
              </div>
            <article class="landing-text">
                <div class="p1">
                    Join Us Today !
                </div>
        
                <div class="p2">
                   No. 1 Crypto Exchange in Asia
                </div>
                <div class="p3">
                   100% Audited!
                </div>
               
                <div class="button">
                    <a class="button" href="/signup">Sign Up!</a>
                </div>
                
            </article>
        </div>

        <div class="box-2">
            <img id="home-img" src="../static/home-img.svg" alt="">
        </div>
    </div>
       
    
</main>

{% endblock %}



