<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/77dca63751.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>CoinFusion</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/c.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

    <nav>
        <input id="nav-toggle" type="checkbox">
        <a href="/home"> <img  class="logo" src="/static/logo.png"/> </a>
        <ul class="links">
            <li><a href="/markets">Markets</a></li>                                            
            <li><a href="/contact">Contact</a></li>
    
            
                <li id="depo"><a href="/signup">Login</a></li>    
               <li><img class="pfp-icon" name="pfp-icon" src="../static/profile-icon.jpg" alt=""></li>                                         
    
        
            
            
        </ul>
        
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
   {% block content %}

   {% endblock %}
   

</body>
</html>