{% extends "dashboard.html" %}

{% block content%}
<div class="nft-intro-body">
    <div class="container">
      <div class="container">
        <div class="carousel">
          <div class="item a"><img src="../static/nft.png" alt=""></div>
          <div class="item b"><img src="../static/nft1.png" alt=""></div>
          <div class="item c"><img src="../static/nft2.png" alt=""></div>
          <div class="item d"><img src="../static/nft3.png" alt=""></div>
          <div class="item e"><img src="../static/nft4.png" alt=""></div>
          <div class="item a"><img src="../static/nft.png" alt=""></div>
          <div class="item f"><img src="../static/nft5.png" alt=""></div>
          <div class="item g"><img src="../static/nft6.png" alt=""></div>
          <div class="item h"><img src="../static/nft7.png" alt=""></div>
          <div class="item j"><img src="../static/nft8.png" alt=""></div>
        </div>
      </div>



      

</div>
<div id="type-txt-pos" class="typing-demo"> 
  Trade NFTS.. 
</div>
<div class="nft-landing-txt">
  <h1>Collect And Sell</h1>
  <h1>Your <p style="color:#01c38d;display: inline;">Awesome</p> NFTS</h1>
  <div class="nft-btn-pos">
    <a href="/nft/marketplace" class="nft-landing-button">Explore Now</a>
  </div>
  <img src="../static/nft-land-img.svg" style="margin-left: 7em;margin-top: 3em;width: 17em;" alt="">
  
</div>
{% endblock %}