{% extends "master.html" %}



{% block content %}
<div class="login-page">



    <div class="box-1">
        <img id="login-img" src="../static/login-img.svg" alt="login-ui">
    </div>




    <div class="box-2">
        <div class="main-sign-login">  	
            <input type="checkbox" id="chk" aria-hidden="true">
        
                <div class="signup">
                    <form method="post" action="/signup">
                        <label for="chk" aria-hidden="true">Sign up</label>
                        <input type="text" name="txt" placeholder="User name" required="">
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="pswd" placeholder="Password" required="">
                        <button>Sign up</button>
                    </form>
                </div>  
        
                <div class="login" >
                    <form method="post" action="/login">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="log_email" placeholder="Email" required="">
                        <input type="password" name="log_pswd" placeholder="Password" required="">
                        <button>Login</button>
                    </form>
                </div>
        </div>
    </div>
    

</div>

{% endblock %}
