{% extends "dashboard.html" %}

{% block content%}

<div class="profile-settings">
    <h2 style="color:white;">Profile Settings</h2>
    <form action="/update" method="POST">
        <div class="radio-flex">
          <div class="radio-option">
            <input type="radio" id="emailOption" name="update_option" value="email" onclick="showInputForm();" checked>
            <span>Email</span>
          </div>
    
          <div class="radio-option">
            <input type="radio" id="passwordOption" name="update_option" value="password" onclick="showInputForm();">
            <span>Password</span>
          </div>
        </div>
    
        <div id="emailForm" style="display:block;">
          <label for="email">New Email:</label>
          <input type="email" id="email" name="email" >
          <br><br>
        </div>
    
        <div id="passwordForm" style="display:none;">
          <label for="password">New Password:</label>
          <input type="password" id="password" name="password">
          <br><br>
        </div>
    
        <input id="updatebtn" type="submit" value="Update">
      </form>
</div>
<img src="../static/settings.svg" style="height: 24em;margin-left: 34%;margin-top: 1em;" alt="">

{% endblock %}